@tailwind base;
@tailwind components;
@tailwind utilities;

[class*="-wrapper"] {
  color: #979797 !important;
}

[class*="-wrapper-checked"] {
  color: #000000;
}

.ant-checkbox-inner {
  border-radius: 10px !important;
}

[class*="-inner"]::after {
  display: none !important;
}

[class*="-checked"][class*="-disabled"] span[class*="-inner"] {
  background-color: #d8d8d8 !important;
}

[class*="-wrapper-checked"] {
  color: rgba(0, 0, 0, 0.88) !important;
}

.ant-checkbox-disabled + span {
  color: inherit !important;
}

.ant-switch-checked > .ant-switch-handle::before {
  background-color: #fff !important;
}

.ant-switch:not(.ant-switch-checked) {
  background-color: #fff !important;
  outline: 3px solid #d4ccf7 !important;
}
.ant-form-item-label > label {
  font-weight: 600;
}

.ant-layout-content {
  min-height: 100vh !important;
}
