@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

[class*="-wrapper"] {
  color: #979797 !important;
}

[class*="-wrapper-checked"] {
  color: #000000;
}

.ant-checkbox-inner {
  border-radius: 10px !important;
}

[class*="-inner"]::after {
  display: none !important;
}

[class*="-checked"][class*="-disabled"] span[class*="-inner"] {
  background-color: #d8d8d8 !important;
}

span[class*="-inner"] {
  transform: scale(0.75);
}
[class*="-wrapper-checked"] {
  color: rgba(0, 0, 0, 0.88) !important;
}

.ant-checkbox-disabled + span {
  color: inherit !important;
}

.ant-switch-checked > .ant-switch-handle::before {
  background-color: #fff !important;
}

.ant-switch:not(.ant-switch-checked) {
  background-color: #fff !important;
  outline: 3px solid #d4ccf7 !important;
}
.ant-form-item-label > label {
  font-weight: 600;
}

.sub-label .ant-form-item-label > label {
  font-weight: lighter;
  color: #979797 !important;
  font-size: 16px !important;
}

.ant-layout-content {
  min-height: 100vh !important;
}

.ant-btn-primary:disabled {
  background: #d4ccf7 !important;
  color: #fff !important;
}
